* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #9BC1BC;
}

.container {
    height: 70vh;
    justify-content: center;
    display: flex;
}


.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game-btn {
    height: 18vmin;
    width: 18vmin;
    border-radius: 2rem;
    background-color: #ED6A5A;
    border: none;
    font-size: 8vmin;
    color: maroon;

}

#reset-btn {
    height: 8vmin;
    width: 16vmin;
    font-size: medium;
    border-radius: 1rem;
    background-color: #5D576B;
    color: white;
    box-shadow: none;
    border: none;
}

#newGameBtn {
    height: 7vmin;
    width: 14vmin;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

#msg {
    font-size: 12vmin;
    color: darkgreen;
}

.msg-container {
    height: 40vmin;

}

.hide {
    display: none;
}